---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4682'
      X-Ratelimit-Reset:
      - '1376602835'
      Last-Modified:
      - Thu, 15 Aug 2013 21:10:11 GMT
      Etag:
      - '"f17df6adf04cc645891644e6b16fde6a"'
      X-Oauth-Scopes:
      - user, public_repo, repo, gist
      X-Accepted-Oauth-Scopes:
      - repo, public_repo, repo:status, delete_repo, site_admin
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: '[{"id":11657303,"name":"cv-randomize","full_name":"darkmirage/cv-randomize","owner":{"login":"darkmirage","id":1635019,"avatar_url":"https://0.gravatar.com/avatar/5111569f6bba258cfe81d12af3ba99a2?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png","gravatar_id":"5111569f6bba258cfe81d12af3ba99a2","url":"https://api.github.com/users/darkmirage","html_url":"https://github.com/darkmirage","followers_url":"https://api.github.com/users/darkmirage/followers","following_url":"https://api.github.com/users/darkmirage/following{/other_user}","gists_url":"https://api.github.com/users/darkmirage/gists{/gist_id}","starred_url":"https://api.github.com/users/darkmirage/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/darkmirage/subscriptions","organizations_url":"https://api.github.com/users/darkmirage/orgs","repos_url":"https://api.github.com/users/darkmirage/repos","events_url":"https://api.github.com/users/darkmirage/events{/privacy}","received_events_url":"https://api.github.com/users/darkmirage/received_events","type":"User"},"private":false,"html_url":"https://github.com/darkmirage/cv-randomize","description":"Using
        python-docx to generate random CVs for correspondence resume experiments","fork":false,"url":"https://api.github.com/repos/darkmirage/cv-randomize","forks_url":"https://api.github.com/repos/darkmirage/cv-randomize/forks","keys_url":"https://api.github.com/repos/darkmirage/cv-randomize/keys{/key_id}","collaborators_url":"https://api.github.com/repos/darkmirage/cv-randomize/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/darkmirage/cv-randomize/teams","hooks_url":"https://api.github.com/repos/darkmirage/cv-randomize/hooks","issue_events_url":"https://api.github.com/repos/darkmirage/cv-randomize/issues/events{/number}","events_url":"https://api.github.com/repos/darkmirage/cv-randomize/events","assignees_url":"https://api.github.com/repos/darkmirage/cv-randomize/assignees{/user}","branches_url":"https://api.github.com/repos/darkmirage/cv-randomize/branches{/branch}","tags_url":"https://api.github.com/repos/darkmirage/cv-randomize/tags","blobs_url":"https://api.github.com/repos/darkmirage/cv-randomize/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/darkmirage/cv-randomize/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/darkmirage/cv-randomize/git/refs{/sha}","trees_url":"https://api.github.com/repos/darkmirage/cv-randomize/git/trees{/sha}","statuses_url":"https://api.github.com/repos/darkmirage/cv-randomize/statuses/{sha}","languages_url":"https://api.github.com/repos/darkmirage/cv-randomize/languages","stargazers_url":"https://api.github.com/repos/darkmirage/cv-randomize/stargazers","contributors_url":"https://api.github.com/repos/darkmirage/cv-randomize/contributors","subscribers_url":"https://api.github.com/repos/darkmirage/cv-randomize/subscribers","subscription_url":"https://api.github.com/repos/darkmirage/cv-randomize/subscription","commits_url":"https://api.github.com/repos/darkmirage/cv-randomize/commits{/sha}","git_commits_url":"https://api.github.com/repos/darkmirage/cv-randomize/git/commits{/sha}","comments_url":"https://api.github.com/repos/darkmirage/cv-randomize/comments{/number}","issue_comment_url":"https://api.github.com/repos/darkmirage/cv-randomize/issues/comments/{number}","contents_url":"https://api.github.com/repos/darkmirage/cv-randomize/contents/{+path}","compare_url":"https://api.github.com/repos/darkmirage/cv-randomize/compare/{base}...{head}","merges_url":"https://api.github.com/repos/darkmirage/cv-randomize/merges","archive_url":"https://api.github.com/repos/darkmirage/cv-randomize/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/darkmirage/cv-randomize/downloads","issues_url":"https://api.github.com/repos/darkmirage/cv-randomize/issues{/number}","pulls_url":"https://api.github.com/repos/darkmirage/cv-randomize/pulls{/number}","milestones_url":"https://api.github.com/repos/darkmirage/cv-randomize/milestones{/number}","notifications_url":"https://api.github.com/repos/darkmirage/cv-randomize/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/darkmirage/cv-randomize/labels{/name}","created_at":"2013-07-25T09:52:29Z","updated_at":"2013-08-08T00:26:15Z","pushed_at":"2013-08-08T00:26:10Z","git_url":"git://github.com/darkmirage/cv-randomize.git","ssh_url":"git@github.com:darkmirage/cv-randomize.git","clone_url":"https://github.com/darkmirage/cv-randomize.git","svn_url":"https://github.com/darkmirage/cv-randomize","homepage":null,"size":158,"watchers_count":0,"language":"Python","has_issues":true,"has_downloads":true,"has_wiki":true,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"master_branch":"master","default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":11464133,"name":"git-api-test","full_name":"darkmirage/git-api-test","owner":{"login":"darkmirage","id":1635019,"avatar_url":"https://0.gravatar.com/avatar/5111569f6bba258cfe81d12af3ba99a2?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png","gravatar_id":"5111569f6bba258cfe81d12af3ba99a2","url":"https://api.github.com/users/darkmirage","html_url":"https://github.com/darkmirage","followers_url":"https://api.github.com/users/darkmirage/followers[...]
- request:
    method: get
    uri: https://api.github.com/user/orgs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4681'
      X-Ratelimit-Reset:
      - '1376602835'
      Last-Modified:
      - Thu, 15 Aug 2013 18:37:58 GMT
      Etag:
      - '"2c138003194b4f07f6ee8699b22d8827"'
      X-Oauth-Scopes:
      - user, public_repo, repo, gist
      X-Accepted-Oauth-Scopes:
      - repo, user
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: '[{"login":"Pixelapse","id":1366702,"url":"https://api.github.com/orgs/Pixelapse","repos_url":"https://api.github.com/orgs/Pixelapse/repos","events_url":"https://api.github.com/orgs/Pixelapse/events","members_url":"https://api.github.com/orgs/Pixelapse/members{/member}","public_members_url":"https://api.github.com/orgs/Pixelapse/public_members{/member}","avatar_url":"https://0.gravatar.com/avatar/464b07a6c89bf293b8fa68c9b731c11b?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-org-420.png"}]'
  recorded_at: Thu, 15 Aug 2013 21:11:59 GMT
- request:
    method: get
    uri: https://api.github.com/orgs/Pixelapse/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4680'
      X-Ratelimit-Reset:
      - '1376602835'
      Last-Modi[...]
