---
http_interactions:
- request:
    method: delete
    uri: https://api.github.com/repos/darkmirage/test/git/refs/heads/rspec
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 422 Unprocessable Entity
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4707'
      X-Ratelimit-Reset:
      - '1376602835'
      X-Oauth-Scopes:
      - user, public_repo, repo, gist
      X-Accepted-Oauth-Scopes:
      - repo, public_repo, repo:status, delete_repo, site_admin
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: '{"message":"Validation Failed"}'
  recorded_at: Thu, 15 Aug 2013 21:09:57 GMT
- request:
    method: get
    uri: https://api.github.com/repos/darkmirage/test/branches/master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4706'
      X-Ratelimit-Reset:
      - '1376602835'
      X-Oauth-Scopes:
      - user, public_repo, repo, gist
      X-Accepted-Oauth-Scopes:
      - repo, public_repo, repo:status, delete_repo, site_admin
      X-Github-Media-Type:
      - github.beta; format=json
      Etag:
      - '"1e9a35ec492ea865f92a1b38b774b076"'
    body:
      encoding: UTF-8
      string: '{"name":"master","commit":{"sha":"cdddc3941866854cdb41c023d0f5240ed10df053","commit":{"author":{"name":"Raven
        Jiang","email":"raven@cs.stanford.edu","date":"2013-08-09T23:23:24Z"},"committer":{"name":"Raven
        Jiang","email":"raven@cs.stanford.edu","date":"2013-08-09T23:23:24Z"},"message":"Added
        subfolder testing","tree":{"sha":"6553d302dfc55bf5cd09c07a6125753af023c7a5","url":"https://api.github.com/repos/darkmirage/test/git/trees/6553d302dfc55bf5cd09c07a6125753af023c7a5"},"url":"https://api.github.com/repos/darkmirage/test/git/commits/cdddc3941866854cdb41c023d0f5240ed10df053","comment_count":0},"url":"https://api.github.com/repos/darkmirage/test/commits/cdddc3941866854cdb41c023d0f5240ed10df053","html_url":"https://github.com/darkmirage/test/commit/cdddc3941866854cdb41c023d0f5240ed10df053","comments_url":"https://api.github.com/repos/darkmirage/test/commits/cdddc3941866854cdb41c023d0f5240ed10df053/comments","author":{"login":"darkmirage","id":1635019,"avatar_url":"https://0.gravatar.com/avatar/5111569f6bba258cfe81d12af3ba99a2?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png","gravatar_id":"5111569f6bba258cfe81d12af3ba99a2","url":"https://api.github.com/users/darkmirage","html_url":"https://github.com/darkmirage","followers_url":"https://api.github.com/users/darkmirage/followers","following_url":"https://api.github.com/users/darkmirage/following{/other_user}","gists_url":"https://api.github.com/users/darkmirage/gists{/gist_id}","starred_url":"https://api.github.com/users/darkmirage/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/darkmirage/subscriptions","organizations_url":"https://api.github.com/users/darkmirage/orgs","repos_url":"https://api.github.com/users/darkmirage/repos","events_url":"https://api.github.com/users/darkmirage/events{/privacy}","received_events_url":"https://api.github.com/users/darkmirage/received_events","type":"User"},"committer":{"login":"darkmirage","id":1635019,"avatar_url":"https://0.gravatar.com/avatar/5111569f6bba258cfe81d12af3ba99a2?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png","gravatar_id":"5111569f6bba258cfe81d12af3ba99a2","url":"https://api.github.com/users/darkmirage","html_url":"https://github.com/darkmirage","followers_url":"https://api.github.com/users/darkmirage/followers","following_url":"https://api.github.com/users/darkmirage/following{/other_user}","gists_url":"https://api.github.com/users/darkmirage/gists{/gist_id}","starred_url":"https://api.github.com/users/darkmirage/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/darkmirage/subscriptions","organizations_url":"https://api.github.com/users/darkmirage/orgs","repos_url":"https://api.github.com/users/darkmirage/repos","events_url":"https://api.github.com/users/darkmirage/events{/privacy}","received_events_url":"https://api.github.com/users/darkmirage/received_events","type":"User"},"parents":[{"sha":"9da46c5d5e0758a759f80de6283eba05c1f04735","url":"https://api.github.com/repos/darkmirage/test/commits/9da46c5d5e0758a759f80de6283eba05c1f04735","html_url":"https://github.com/darkmirage/test/commit/9da46c5d5e0758a759f80de6283eba05c1f04735"}]},"_links":{"self":"https://api.github.com/repos/darkmirage/test/branches/master","html":"https://github.com/darkmirage/test/tree/master"}}'
  recorded_at: Thu, 15 Aug 2013 21:09:57 GMT
- request:
    method: post
    uri: https://api.github.com/repos/darkmirage/test/git/blobs
    body:
      encoding: UTF-8
      string: '{"content":"VGhpcyBpcyBhIGZpbGUgdXNlZCBmb3IgUlNwZWMgdGVzdHMgaW52b2x2aW5nIFdvcm9jaGk6Okl0ZW0u","encoding":"base64"}'
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4705'
      X-Ratelimit-Reset:
      - '1376602835'
      X-Oauth-Scopes:
      - user, public_repo, repo, gist
      X-Accepted-Oauth-Scopes:
      - repo, public_repo, repo:status, delete_repo, site_admin
      Location:
      - https://api.github.com/repos/darkmirage/test/git/blobs/5df468c4497e072139462b88cb78e1df4357534b
      X-Github-Media-Type:
      - github.beta; format=json
      Etag:
      - '"0e380113ab3ae5bd4b7290693137935d"'
    body:
      encoding: UTF-8
      string: '{"sha":"5df468c4497e072139462b88cb78e1df4357534b","url":"https://api.github.com/repos/darkmirage/test/git/blobs/5df468c4497e072139462b88cb78e1df4357534b"}'
  recorded_at: Thu, 15 Aug 2013 21:09:58 GMT
- request:
    method: post
    uri: https://api.github.com/repos/darkmirage/test/git/trees
    body:
      encoding: UTF-8
      string: '{"base_tree":"cdddc3941866854cdb41c023d0f5240ed10df053","tree":[{"path":"folder2/test_file","sha":"5df468c4497e072139462b88cb78e1df4357534b","type":"blob","mode":"100644"}]}'
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4704'
      X-Ratelimit-Reset:
      - '1376602835'
      X-Oauth-Scopes:
      - user, public_repo, repo, gist
      X-Accepted-Oauth-Scopes:
      - repo, public_repo, repo:status, delete_repo, site_admin
      Location:
      - https://api.github.com/repos/darkmirage/test/git/trees/9143bc4d904cad09b8bfe5d5f29d2640234b783a
      X-Github-Media-Type:
      - github.beta; format=json
      Etag:
      - '"ee74a42523ad470d771f65bbe384ac8e"'
    body:
      encoding: UTF-8
      string: '{"sha":"9143bc4d904cad09b8bfe5d5f29d2640234b783a","url":"https://api.github.com/repos/darkmirage/test/git/trees/9143bc4d904cad09b8bfe5d5f29d2640234b783a","tree":[{"mode":"100644","type":"blob","sha":"398cd945a422cff4321d613a3c5aef57b0b27da2","path":"LICENSE","size":1078,"url":"https://api.github.com/repos/darkmirage/test/git/blobs/398cd945a422cff4321d613a3c5aef57b0b27da2"},{"mode":"100644","type":"blob","sha":"453312977f72f7e37d96bdc6c5b5e4c9c59072f1","path":"README.md","size":20,"url":"https://api.github.com/repos/darkmirage/test/git/blobs/453312977f72f7e37d96bdc6c5b5e4c9c59072f1"},{"mode":"100644","type":"blob","sha":"38a226454dab3931dbb694b3c3ae94e02d110dcf","path":"file1","size":18,"url":"https://api.github.com/repos/darkmirage/test/git/blobs/38a226454dab3931dbb694b3c3ae94e02d110dcf"},{"mode":"040000","type":"tree","sha":"ec677e6fb544f1f197f8f02bcbaaededaac23bb8","path":"folder1","url":"https://api.github.com/repos/darkmirage/test/git/trees/ec677e6fb544f1f197f8f02bcbaaededaac23bb8"},{"mode":"040000","type":"tree","sha":"d6c5d03064924906afd8288388dd9102380c6fe4","path":"folder2","url":"https://api.github.com/repos/darkmirage/test/git/trees/d6c5d03064924906afd8288388dd9102380c6fe4"},{"mode":"040000","type":"tree","sha":"d750655104da52a0f691c399528a29cf5fa594c2","path":"folder3","url":"https://api.github.com/repos/darkmirage/test/git/trees/d750655104da52a0f691c399528a29cf5fa594c2"}]}'
  recorded_at: Thu, 15 Aug 2013 21:09:59 GMT
- request:
    method: get
    uri: https://api.github.com/repos/darkmirage/test/branches/rspec
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4703'
      X-Ratelimit-Reset:
      - '1376602835'
      X-Oauth-Scopes:
      - user, public_repo, repo, gist
      X-Accepted-Oauth-Scopes:
      - repo, public_repo, repo:status, delete_repo, site_admin
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: '{"message":"Branch not found"}'
  recorded_at: Thu, 15 Aug 2013 21:10:00 GMT
[...]
- request:
    method: post
    uri: https://api.github.com/repos/darkmirage/test/git/refs
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/rspec","sha":"cdddc3941866854cdb41c023d0f5240ed10df053"}'
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4701'
      X-Ratelimit-Reset:
      - '1376602835'
      X-Oauth-Scopes:
      - user, public_repo, repo, gist
      X-Accepted-Oauth-Scopes:
      - repo, public_repo, repo:status, delete_repo, site_admin
      Location:
      - https://api.github.com/repos/darkmirage/test/git/refs/heads/rspec
      X-Github-Media-Type:
      - github.beta; format=json
      Etag:
      - '"0877b16c88453759ce157491732ce0da"'
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/rspec","url":"https://api.github.com/repos/darkmirage/test/git/refs/heads/rspec","object":{"sha":"cdddc3941866854cdb41c023d0f5240ed10df053","type":"commit","url":"https://api.github.com/repos/darkmirage/test/git/commits/cdddc3941866854cdb41c023d0f5240ed10df053"}}'
  recorded_at: Thu, 15 Aug 2013 21:10:01 GMT
- request:
    method: post
    uri: https://api.github.com/repos/darkmirage/test/git/commits
    body:
      encoding: UTF-8
      string: '{"message":"RSpec Test","tree":"9143bc4d904cad09b8bfe5d5f29d2640234b783a","parents":["cdddc3941866854cdb41c023d0f5240ed10df053"]}'
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json[...]
- request:
    method: patch
    uri: https://api.github.com/repos/darkmirage/test/git/refs/heads/rspec
    body:
      encoding: UTF-8
      string: '{"sha":"84314d0f326e3ceb49c93d2cebb6dae8652d7b47","force":true}'
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4699'
      X-Ratelimit-Reset:
      - '1376602835'
      X-Oauth-Scopes:
      - user, public_repo, repo, gist
      X-Accepted-Oauth-Scopes:
      - repo, public_repo, repo:status, delete_repo, site_admin
      X-Github-Media-Type:
      - github.beta; format=json
      Etag:
      - '"84358237cdb4042d5a683b3ecc63905f"'
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/rspec","url":"https://api.github.com/repos/darkmirage/test/git/refs/heads/rspec","object":{"sha":"84314d0f326e3ceb49c93d2cebb6dae8652d7b47","type":"commit","url":"https://api.github.com/repos/darkmirage/test/git/commits/84314d0f326e3ceb49c93d2cebb6dae8652d7b47"}}'
  recorded_at: Thu, 15 Aug 2013 21:10:02 GMT
- request:
    method: get
    uri: https://api.github.com/repos/darkmirage/test/git/trees/84314d0f326e3ceb49c93d2cebb6dae8652d7b47?recursive=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4698'
      X-Ratelimit-Reset:
      - '1376602835'
      Last-Modified:
      - Thu, 15 Aug 2013 21:10:03 GMT
      Etag:
      - '"355bba68e801df53fdc5f10393ab3384"'
      X-Oauth-Scopes:
      - user, public_repo, repo, gist
      X-Accepted-Oauth-Scopes:
      - repo, public_repo, repo:status, delete_repo, site_admin
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: '{"sha":"84314d0f326e3ceb49c93d2cebb6dae8652d7b47","url":"https://api.github.com/repos/darkmirage/test/git/trees/84314d0f326e3ceb49c93d2cebb6da[...]
- request:
    method: delete
    uri: https://api.github.com/repos/darkmirage/test/git/refs/heads/rspec
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4697'
      X-Ratelimit-Reset:
      - '1376602835'
      X-Oauth-Scopes:
      - user, public_repo, repo, gist
      X-Accepted-Oauth-Scopes:
      - repo, public_repo, repo:status, delete_repo, site_admin
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 15 Aug 2013 21:10:03 GMT
recorded_with: VCR 2.5.0
