---
http_interactions:
- request:
    method: get
    uri: https://api.dropbox.com/1/metadata/auto/Dev/test/folder1?file_limit=25000&include_deleted=false&list=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <DROPBOX_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '53'
      X-Dropbox-Request-Id:
      - 0ecd296a38ef63875722e01e77c7a2dd
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - ccd50b8c8d38e0278f95e18c97c6aa8a
    body:
      encoding: UTF-8
      string: '{"hash": "f8b81477e7377b80273993acbacd0527", "revision": 913527046,
        "rev": "36735106002426b8", "thumb_exists": false, "bytes": 0, "modified":
        "Fri, 09 Aug 2013 00:17:28 +0000", "path": "/Dev/test/folder1", "is_dir":
        true, "icon": "folder", "root": "dropbox", "contents": [{"revision": 913527127,
        "rev": "36735157002426b8", "thumb_exists": false, "bytes": 6, "modified":
        "Fri, 09 Aug 2013 00:17:36 +0000", "client_mtime": "Thu, 08 Aug 2013 20:41:05
        +0000", "path": "/Dev/test/folder1/test.txt", "is_dir": false, "icon": "page_white_text",
        "root": "dropbox", "mime_type": "text/plain", "size": "6 bytes"}], "size":
        "0 bytes"}'
  recorded_at: Tue, 13 Aug 2013 00:17:40 GMT
recorded_with: VCR 2.5.0
