---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/discovery/v1/apis/drive/v2/rest
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"wtgj9ZncHCe-ShJM8RewHb1DgWI/dn8pn6KVO0nlU0vOLsEfgOP2dwM"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "discovery#restDescription",
         "etag": "\"wtgj9ZncHCe-ShJM8RewHb1DgWI/dn8pn6KVO0nlU0vOLsEfgOP2dwM\"",
         "discoveryVersion": "v1",
         "id": "drive:v2",
         "name": "drive",
         "version": "v2",
         "revision": "20130729",
         "title": "Drive API",
         "description": "The API to interact with Drive.",
         "ownerDomain": "google.com",
         "ownerName": "Google",
         "icons": {
          "x16": "https://ssl.gstatic.com/docs/doclist/images/drive_icon_16.png",
          "x32": "https://ssl.gstatic.com/docs/doclist/images/drive_icon_32.png"
         },
         "documentationLink": "https://developers.google.com/drive/",
         "protocol": "rest",
         "baseUrl": "https://www.googleapis.com/drive/v2/",
         "basePath": "/drive/v2/",
         "rootUrl": "https://www.googleapis.com/",
         "servicePath": "drive/v2/",
         "batchPath": "batch",
         "parameters": {
          "alt": {
           "type": "string",
           "description": "Data format for the response.",
           "default": "json",
           "enum": [
            "json"
           ],
           "enumDescriptions": [
            "Responses with Content-Type of application/json"
           ],
           "location": "query"
          },
          "fields": {
           "type": "string",
           "description": "Selector specifying which fields to include in a partial response.",
           "location": "query"
          },
          "key": {
           "type": "string",
           "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
           "location": "query"
          },
          "oauth_token": {
           "type": "string",
           "description": "OAuth 2.0 token for the current user.",
           "location": "query"
          },
          "prettyPrint": {
           "type": "boolean",
           "description": "Returns response with indentations and line breaks.",
           "default": "true",
           "location": "query"
          },
          "quotaUser": {
           "type": "string",
           "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
           "location": "query"
          },
          "userIp": {
           "type": "string",
           "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
           "location": "query"
          }
         },
         "auth": {
          "oauth2": {
           "scopes": {
            "https://www.googleapis.com/auth/drive": {
             "description": "View and manage the files and documents in your Google Drive"
            },
            "https://www.googleapis.com/auth/drive.appdata": {
             "description": "View and manage its own configuration data in your Google Drive"
            },
            "https://www.googleapis.com/auth/drive.apps.readonly": {
             "description": "View your Google Drive apps"
            },
            "https://www.googleapis.com/auth/drive.file": {
             "description": "View and manage Google Drive files that you have opened or created with this app"
            },
            "https://www.googleapis.com/auth/drive.metadata.readonly": {
             "description": "View metadata for files and documents in your Google Drive"
            },
            "https://www.googleapis.com/auth/drive.readonly": {
             "description": "View the files and documents in your Google Drive"
            },
            "https://www.googleapis.com/auth/drive.scripts": {
             "description": "Modify your Google Apps Script scripts' behavior"
            }
           }
          }
         },
         "schemas": {
          "About": {
           "id": "About",
           "type": "object",
           "description": "An item with user information and settings.",
           "properties": {
            "additionalRoleInfo": {
             "type": "array",
             "description": "Information about supported additional roles per file type. The most specific type takes precedence.",
             "items": {
              "type": "object",
              "properties": {
               "roleSets": {
                "type": "array",
                "description": "The supported additional roles per primary role.",
                "items": {
                 "type": "object",
                 "properties": {
                  "additionalRoles": {
                   "type": "array",
                   "description": "The supported additional roles with the primary role.",
                   "items": {
                    "type": "string"
                   }
                  },
                  "primaryRole": {
                   "type": "string",
                   "description": "A primary permission role."
                  }
                 }
                }
               },
               "type": {
                "type": "string",
                "description": "The content type that this additional role info applies to."
               }
              }
             }
            },
            "domainSharingPolicy": {
             "type": "string",
             "description": "The domain sharing policy for the current user."
            },
            "etag": {
             "type": "string",
             "description": "The ETag of the item."
            },
            "exportFormats": {
             "type": "array",
             "description": "The allowable export formats.",
             "items": {
              "type": "object",
              "properties": {
               "source": {
                "type": "string",
                "description": "The content type to convert from."
               },
               "targets": {
                "type": "array",
                "description": "The possible content types to convert to.",
                "items": {
                 "type": "string"
                }
               }
              }
             }
            },
            "features": {
             "type": "array",
             "description": "List of additional features enabled on this account.",
             "items": {
              "type": "object",
              "properties": {
               "featureName": {
                "type": "string",
                "description": "The name of the feature."
               },
               "featureRate": {
                "type": "number",
                "description": "The request limit rate for this feature, in queries per second.",
                "format": "double"
               }
              }
             }
            },
            "importFormats": {
             "type": "array",
             "description": "The allowable import formats.",
             "items": {
              "type": "object",
              "properties": {
               "source": {
                "type": "string",
                "description": "The imported file's content type to convert from."
               },
               "targets": {
                "type": "array",
                "description": "The possible content types to convert to.",
                "items": {
                 "type": "string"
                }
               }
              }
             }
            },
            "isCurrentAppInstalled": {
             "type": "boolean",
             "description": "A boolean indicating whether the authenticated app is installed by the authenticated user."
            },
            "kind": {
             "type": "string",
             "description": "This is always drive#about.",
             "default": "drive#about"
            },
            "largestChangeId": {
             "type": "string",
             "description": "The largest change id.",
             "format": "int64"
            },
            "maxUploadSizes": {
             "type": "array",
             "description": "List of max upload sizes for each file type. The most specific type takes precedence.",
             "items": {
              "type": "object",
              "properties": {
               "size": {
                "type": "string",
                "description": "The max upload size for this type.",
                "format": "int64"
               },
               "type": {
                "type": "string",
                "description": "The file type."
               }
              }
             }
            },
            "name": {
             "type": "string",
             "description": "The name of the current user."
            },
            "permissionId": {
             "type": "string",
             "description": "The current user's ID as visible in the permissions collection."
            },
            "quotaBytesTotal": {
             "type": "string",
             "description": "The total number of quota bytes.",
             "format": "int64"
            },
            "quotaBytesUsed": {
             "type": "string",
             "description": "The number of quota bytes used by Google Drive.",
             "format": "int64"
            },
            "quotaBytesUsedAggregate": {
             "type": "string",
             "description": "The number of quota bytes used by all Google apps (Drive, Picasa, etc.).",
             "format": "int64"
            },
            "quotaBytesUsedInTrash": {
             "type": "string",
             "description": "The number of quota bytes used by trashed items.",
             "format": "int64"
            },
            "remainingChangeIds": {
             "type": "string",
             "description": "The number of remaining change ids.",
             "format": "int64"
            },
            "rootFolderId": {
             "type": "string",
             "description": "The id of the root folder."
            },
            "selfLink": {
             "type": "string",
             "description": "A link back to this item."
            },
            "user": {
             "$ref": "User",
             "description": "The authenticated user."
            }
           }
          },
          "App": {
           "id": "App",
           "type": "object",
           "description": "The apps resource provides a list of the apps that a user has installed, with information about each app's supported MIME types, file extensions, and other details.",
           "properties": {
            "authorized": {
             "type": "boolean",
             "description": "Whether the app is authorized to access data on the user's Drive."
            },
            "icons": {
             "type": "array",
             "description": "The various icons for the app.",
             "items": {
              "type": "object",
              "properties": {
               "category": {
                "type": "string",
                "description": "Category of the icon. Allowed values are:  \n- application - icon for the application \n- document - icon for a file associated with the app \n- documentShared - icon for a shared file associated with the app"
               },
               "iconUrl": {
                "type": "string",
                "description": "URL for the icon."
               },
               "size": {
                "type": "integer",
                "description": "Size of the icon. Represented as the maximum of the width and height.",
                "format": "int32"
               }
              }
             }
            },
            "id": {
             "type": "string",
             "description": "The ID of the app."
            },
            "installed": {
             "type": "boolean",
             "description": "Whether the app is installed."
            },
            "kind": {
             "type": "string",
             "description": "This is always drive#app.",
             "default": "drive#app"
            },
            "longDescription": {
             "type": "string",
             "description": "A long description of the app."
            },
            "name": {
             "type": "string",
             "description": "The name of the app."
            },
            "objectType": {
             "type": "string",
             "description": "The type of object this app creates (e.g. Chart). If empty, the app name should be used instead."
            },
            "openUrlTemplate": {
             "type": "string",
             "description": "The template url for opening files with this app. The template will contain {ids} and/or {exportIds} to be replaced by the actual file ids."
            },
            "primaryFileExtensions": {
             "type": "array",
             "description": "The list of primary file extensions.",
             "items": {
              "type": "string"
             }
            },
            "primaryMimeTypes": {
             "type": "array",
             "description": "The list of primary mime types.",
             "items": {
              "type": "string"
             }
            },
            "productId": {
             "type": "string",
             "description": "The ID of the product listing for this app."
            },
            "productUrl": {
             "type": "string",
             "description": "A link to the product listing for this app."
            },
            "secondaryFileExtensions": {
             "type": "array",
             "description": "The list of secondary file extensions.",
             "items": {
              "type": "string"
             }
            },
            "secondaryMimeTypes": {
             "type": "array",
             "description": "The list of secondary mime types.",
             "items": {
              "type": "string"
             }
            },
            "shortDescription": {
             "type": "string",
             "description": "A short description of the app."
            },
            "supportsCreate": {
             "type": "boolean",
             "description": "Whether this app supports creating new objects."
            },
            "supportsImport": {
             "type": "boolean",
             "description": "Whether this app supports importing Google Docs."
            },
            "supportsMultiOpen": {
             "type": "boolean",
             "description": "Whether this app supports opening more than one file."
            },
            "useByDefault": {
             "type": "boolean",
             "description": "Whether the app is selected as the default handler for the types it supports."
            }
           }
          },
          "AppList": {
           "id": "AppList",
           "type": "object",
           "description": "A list of third-party applications which the user has installed or given access to Google Drive.",
           "properties": {
            "etag": {
             "type": "string",
             "description": "The ETag of the list."
            },
            "items": {
             "type": "array",
             "description": "The actual list of apps.",
             "items": {
              "$ref": "App"
             }
            },
            "kind": {
             "type": "string",
             "description": "This is always drive#appList.",
             "default": "drive#appList"
            },
            "selfLink": {
             "type": "string",
             "description": "A link back to this list."
            }
           }
          },
          "Change": {
           "id": "Change",
           "type": "object",
           "description": "Representation of a change to a file.",
           "properties": {
            "deleted": {
             "type": "boolean",
             "description": "Whether the file has been deleted."
            },
            "file": {
             "$ref": "File",
             "description": "The updated state of the file. Present if the file has not been deleted."
            },
            "fileId": {
             "type": "string",
             "description": "The ID of the file associated with this change."
            },
            "id": {
             "type": "string",
             "description": "The ID of the change.",
             "format": "int64"
            },
            "kind": {
             "type": "string",
             "description": "This is always drive#change.",
             "default": "drive#change"
            },
            "modificationDate": {
             "type": "string",
             "description": "The time of this modification.",
             "format": "date-time"
            },
            "selfLink": {
             "type": "string",
             "description": "A link back to this change."
            }
           }
          },
          "ChangeList": {
           "id": "ChangeList",
           "type": "object",
           "description": "A list of changes for a user.",
           "properties": {
            "etag": {
             "type": "string",
             "description": "The ETag of the list."
            },
            "items": {
             "type": "array",
             "description": "The actual list of changes.",
             "items": {
              "$ref": "Change"
             }
            },
            "kind": {
             "type": "string",
             "description": "This is always drive#changeList.",
             "default": "drive#changeList"
            },
            "largestChangeId": {
             "type": "string",
             "description": "The current largest change ID.",
             "format": "int64"
            },
            "nextLink": {
             "type": "string",
             "description": "A link to the next page of changes."
            },
            "nextPageToken": {
             "type": "string",
             "description": "The page token for the next page of changes."
            },
            "selfLink": {
             "type": "string",
             "description": "A link back to this list."
            }
           }
          },
          "Channel": {
           "id": "Channel",
           "type": "object",
           "properties": {
            "address": {
             "type": "string",
             "description": "The address where notifications are delivered for this channel."
            },
            "expiration": {
             "type": "string",
             "description": "Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional.",
             "format": "int64"
            },
            "id": {
             "type": "string",
             "description": "A UUID or similar unique string that identifies this channel."
            },
            "kind": {
             "type": "string",
             "description": "Identifies this as a notification channel used to watch for changes to a resource. Value: the fixed string \"api#channel\".",
             "default": "api#channel"
            },
            "params": {
             "type": "object",
             "description": "Additional parameters controlling delivery channel behavior. Optional.",
             "additionalProperties": {
              "type": "string",
              "description": "Declares a new parameter by name."
             }
            },
            "payload": {
             "type": "boolean",
             "description": "A Boolean value to indicate whether payload is wanted. Optional."
            },
            "resourceId": {
             "type": "string",
             "description": "An opaque ID that identifies the resource being watched on this channel. Stable across different API versions."
            },
            "resourceUri": {
             "type": "string",
             "description": "A version-specific identifier for the watched resource."
            },
            "token": {
             "type": "string",
             "description": "An arbitrary string delivered to the target address with each notification delivered over this channel. Optional."
            },
            "type": {
             "type": "string",
             "description": "The type of delivery mechanism used for this channel."
            }
           }
          },
          "ChildList": {
           "id": "ChildList",
           "type": "object",
           "description": "A list of children of a file.",
           "properties": {
            "etag": {
             "type": "string",
             "description": "The ETag of the list."
            },
            "items": {
             "type": "array",
             "description": "The actual list of children.",
             "items": {
              "$ref": "ChildReference"
             }
            },
            "kind": {
             "type": "string",
             "description": "This is always drive#childList.",
             "default": "drive#childList"
            },
            "nextLink": {
             "type": "string",
             "description": "A link to the next page of children."
            },
            "nextPageToken": {
             "type": "string",
             "description": "The page token for the next page of children."
            },
            "selfLink": {
             "type": "string",
             "description": "A link back to this list."
            }
           }
          },
          "ChildReference": {
           "id": "ChildReference",
           "type": "object",
           "description": "A reference to a folder's child.",
           "properties": {
            "childLink": {
             "type": "string",
             "description": "A link to the child."
            },
            "id": {
             "type": "string",
             "description": "The ID of the child.",
             "annotations": {
              "required": [
               "drive.children.insert"
              ]
             }
            },
            "kind": {
             "type": "string",
             "description": "This is always drive#childReference.",
             "default": "drive#childReference"
            },
            "selfLink": {
             "type": "string",
             "description": "A link back to this reference."
            }
           }
          },
          "Comment": {
           "id": "Comment",
           "type": "object",
           "description": "A JSON representation of a comment on a file in Google Drive.",
           "properties": {
            "anchor": {
             "type": "string",
             "description": "A region of the document represented as a JSON string. See anchor documentation for details on how to define and interpret anchor properties."
            },
            "author": {
             "$ref": "User",
             "description": "The user who wrote this comment."
            },
            "commentId": {
             "type": "string",
             "description": "The ID of the comment."
            },
            "content": {
             "type": "string",
             "description": "The plain text content used to create this comment. This is not HTML safe and should only be used as a starting point to make edits to a comment's content.",
             "annotations": {
              "required": [
               "drive.comments.insert",
               "drive.comments.update"
              ]
             }
            },
            "context": {
             "type": "object",
             "description": "The context of the file which is being commented on.",
             "properties": {
              "type": {
               "type": "string",
               "description": "The MIME type of the context snippet."
              },
              "value": {
               "type": "string",
               "description": "Data representation of the segment of the file being commented on. In the case of a text file for example, this would be the actual text that the comment is about."
              }
             }
            },
            "createdDate": {
             "type": "string",
             "description": "The date when this comment was first created.",
             "format": "date-time"
            },
            "deleted": {
             "type": "boolean",
             "description": "Whether this comment has been deleted. If a comment has been deleted the content will be cleared and this will only represent a comment that once existed."
            },
            "fileId": {
             "type": "string",
             "description": "The file which this comment is addressing."
            },
            "fileTitle": {
             "type": "string",
             "description": "The title of the file which this comment is addressing."
            },
            "htmlContent": {
             "type": "string",
             "description": "HTML formatted content for this comment."
            },
            "kind": {
             "type": "string",
             "description": "This is always drive#comment.",
             "default": "drive#comment"
            },
            "modifiedDate": {
             "type": "string",
             "description": "The date when this comment or any of its replies were last modified.",
             "format": "date-time"
            },
            "replies": {
             "type": "array",
             "description": "Replies to this post.",
             "items": {
              "$ref": "CommentReply"
             }
            },
            "selfLink": {
             "type": "string",
             "description": "A link back to this comment."
            },
            "status": {
             "type": "string",
             "description": "The status of this comment. Status can be changed by posting a reply to a comment with the desired status.  \n- \"open\" - The comment is still open. \n- \"resolved\" - The comment has been resolved by one of its replies."
            }
           }
          },
          "CommentList": {
           "id": "CommentList",
           "type": "object",
           "description": "A JSON representation of a list of comments on a file in Google Drive.",
           "properties": {
            "items": {
             "type": "array",
             "description": "List of comments.",
             "items": {
              "$ref": "Comment"
             }
            },
            "kind": {
             "type": "string",
             "description": "This is always drive#commentList.",
             "default": "drive#commentList"
            },
            "nextLink": {
             "type": "string",
             "description": "A link to the next page of comments."
            },
            "nextPageToken": {
             "type": "string",
             "description": "The token to use to request the next page of results."
            },
            "selfLink": {
             "type": "string",
             "description": "A link back to this list."
            }
           }
          },
          "CommentReply": {
           "id": "CommentReply",
           "type": "object",
           "description": "A JSON representation of a reply to a comment on a file in Google Drive.",
           "properties": {
            "author": {
             "$ref": "User",
             "description": "The user who wrote this reply."
            },
            "content": {
             "type": "string",
             "description": "The plain text content used to create this reply. This is not HTML safe and should only be u[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v2/files
    body:
      encoding: UTF-8
      string: '{"title":"worochi_insertion_test","parents":{"id":"0B30CGkhrN5qzaUJGbFNDRjl0S2M"},"mimeType":"application/vnd.google-apps.folder"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <GOOGLE_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"HK9znrxLd1pIgz63yXyznaLN5rM/MTM3NzA1MzU5MzY0Ng"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#file",
         "id": "0B30CGkhrN5qzUUxzMDU4TkZtX0k",
         "etag": "\"HK9znrxLd1pIgz63yXyznaLN5rM/MTM3NzA1MzU5MzY0Ng\"",
         "selfLink": "https://www.googleapis.com/drive/v2/files/0B30CGkhrN5qzUUxzMDU4TkZtX0k",
         "alternateLink": "https://docs.google.com/folderview?id=0B30CGkhrN5qzUUxzMDU4TkZtX0k&usp=drivesdk",
         "iconLink": "https://ssl.gstatic.com/docs/doclist/images/icon_11_collection_list.png",
         "title": "worochi_insertion_test",
         "mimeType": "application/vnd.google-apps.folder",
         "labels": {
          "starred": false,
          "hidden": false,
          "trashed": false,
          "restricted": false,
          "viewed": true
         },
         "createdDate": "2013-08-21T02:53:13.649Z",
         "modifiedDate": "2013-08-21T02:53:13.646Z",
         "modifiedByMeDate": "2013-08-21T02:53:13.646Z",
         "lastViewedByMeDate": "2013-08-21T02:53:13.646Z",
         "parents": [
          {
           "kind": "drive#parentReference",
           "id": "0AH0CGkhrN5qzUk9PVA",
[...]
