---
http_interactions:
- request:
    method: get
    uri: https://api.dropbox.com/1/metadata/auto/Dev/test?file_limit=25000&include_deleted=false&list=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <DROPBOX_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '72'
      X-Dropbox-Request-Id:
      - 3a2cf15b5e9468310efff32dde8f601c
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - badacf042c028f26cf1103f744c22e9a
    body:
      encoding: UTF-8
      string: '{"hash": "bf88e23a6fa5e851915a2b37069faf3c", "revision": 913527043,
        "rev": "36735103002426b8", "thumb_exists": false, "bytes": 0, "modified":
        "Fri, 09 Aug 2013 00:17:26 +0000", "path": "/Dev/test", "is_dir": true, "icon":
        "folder", "root": "dropbox", "contents": [{"revision": 913527044, "rev": "36735104002426b8",
        "thumb_exists": false, "bytes": 0, "modified": "Fri, 09 Aug 2013 00:17:28
        +0000", "path": "/Dev/test/.git", "is_dir": true, "icon": "folder", "root":
        "dropbox", "size": "0 bytes"}, {"revision": 913527128, "rev": "36735158002426b8",
        "thumb_exists": false, "bytes": 18, "modified": "Fri, 09 Aug 2013 00:17:36
        +0000", "client_mtime": "Thu, 08 Aug 2013 20:44:11 +0000", "path": "/Dev/test/file1",
        "is_dir": false, "icon": "page_white", "root": "dropbox", "mime_type": "application/octet-stream",
        "size": "18 bytes"}, {"revision": 913527046, "rev": "36735106002426b8", "thumb_exists":
        false, "bytes": 0, "modified": "Fri, 09 Aug 2013 00:17:28 +0000", "path":
        "/Dev/test/folder1", "is_dir": true, "icon": "folder", "root": "dropbox",
        "size": "0 bytes"}, {"revision": 913527047, "rev": "36735107002426b8", "thumb_exists":
        false, "bytes": 0, "modified": "Fri, 09 Aug 2013 00:17:28 +0000", "path":
        "/Dev/test/folder2", "is_d[...]
