---
http_interactions:
- request:
    method: delete
    uri: https://api.github.com/repos/darkmirage/test/git/refs/heads/rspec
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 422 Unprocessable Entity
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4685'
      X-Ratelimit-Reset:
      - '1376602835'
      X-Oauth-Scopes:
      - user, public_repo, repo, gist
      X-Accepted-Oauth-Scopes:
      - repo, public_repo, repo:status, delete_repo, site_admin
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: '{"message":"Validation Failed"}'
  recorded_at: Thu, 15 Aug 2013 21:10:11 GMT
- request:
    method: post
    uri: https://api.github.com/repos/darkmirage/test/git/blobs
    body:
      encoding: UTF-8
      string: '{"content":"VGhpcyBpcyBhIGZpbGUgdXNlZCBmb3IgUlNwZWMgdGVzdHMgaW52b2x2aW5nIFdvcm9jaGk6Okl0ZW0u","encoding":"base64"}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4684'
      X-Ratelimit-Reset:
      - '1376602835'
      X-Oauth-Scopes:
      - user, public_repo, repo, gist
      X-Accepted-Oauth-Scopes:
      - repo, public_repo, repo:status, delete_repo, site_admin
      Location:
      - https://api.github.com/repos/darkmirage/test/git/blobs/5df468c4497e072139462b88cb78e1df4357534b
      X-Github-Media-Type:
      - github.beta
      Etag:
      - '"0e380113ab3ae5bd4b7290693137935d"'
    body:
      encoding: UTF-8
      string: '{"sha":"5df468c4497e072139462b88cb78e1df4357534b","url":"https://api.github.com/repos/darkmirage/test/git/blobs/5df468c4497e072139462b88cb78e1df4357534b"}'
  recorded_at: Thu, 15 Aug 2013 21:10:12 GMT
- request:
    method: delete
    uri: https://api.github.com/repos/darkmirage/test/git/refs/heads/rspec
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 422 Unprocessable Entity
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4683'
      X-Ratelimit-Reset:
      - '1376602835'
      X-Oauth-Scopes:
      - user, public_repo, repo, gist
      X-Accepted-Oauth-Scopes:
      - repo, public_repo, repo:status, delete_repo, site_admin
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: '{"message":"Validation Failed"}'
  recorded_at: Thu, 15 Aug 2013 21:10:12 GMT
recorded_with: VCR 2.5.0
