---
http_interactions:
- request:
    method: put
    uri: https://api-content.dropbox.com/1/files_put/auto/Dev/test/test_file?overwrite=true
    body:
      encoding: UTF-8
      string: This is a file used for RSpec tests involving Worochi::Item.
    headers:
      Content-Type:
      - application/octet-stream
      Authorization:
      - Bearer <DROPBOX_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '239'
      X-Dropbox-Request-Id:
      - 0ab5471b0df6be5b41b3b449316d75e9
      X-Requestid:
      - fff1e7bbf2b7a0bdc5f70191882f5217
    body:
      encoding: UTF-8
      string: '{"revision": 913531797, "rev": "36736395002426b8", "thumb_exists":
        false, "bytes": 60, "modified": "Thu, 15 Aug 2013 20:51:53 +0000", "client_mtime":
        "Thu, 15 Aug 2013 20:51:53 +0000", "path": "/Dev/test/test_file", "is_dir":
        false, "icon": "page_white", "root": "dropbox", "mime_type": "application/octet-stream",
        "size": "60 bytes"}'
  recorded_at: Thu, 15 Aug 2013 20:52:20 GMT
[...]
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/delete?path=/Dev/test/test_file&root=auto
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <DROPBOX_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '151'
      X-Dropbox-Request-Id:
      - 9aa4bfd70c660f5b38cb4febbbfe9246
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - daf4ba1acb53bf102b2aa0b207d05851
    body:
      encoding: UTF-8
      string: '{"is_deleted": true, "revision": 913531804, "rev": "3673639c002426b8",
        "thumb_exists": false, "bytes": 0, "modified": "Thu, 15 Aug 2013 20:52:22
        +0000", "client_mtime": "Wed, 31 Dec 1969 23:59:59 +0000", "path": "/Dev/test/test_file",
        "is_dir": false, "icon": "page_white", "root": "dropbox", "mime_type": "application/octet-stream",
        "size": "0 bytes"}'
  recorded_at: Thu, 15 Aug 2013 20:52:22 GMT
recorded_with: VCR 2.5.0
