---
http_interactions:
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/delete?path=/Dev/test/test_file&root=auto
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <DROPBOX_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error": "Path ''/dev/test/test_file'' not found"}'
  recorded_at: Thu, 15 Aug 2013 19:07:56 GMT
- request:
    method: get
    uri: https://api.dropbox.com/1/metadata/auto/Dev/test?file_limit=25000&include_deleted=false&list=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <DROPBOX_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '51'
      X-Dropbox-Request-Id:
      - 4e31f0c8a730698088fd7f6eeb3c927e
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - 265be6c4a8d459e8b0b4c6f0804c546d
    body:
      encoding: UTF-8
      string: '{"hash": "bf88e23a6fa5e851915a2b37069faf3c", "revision": 913527043,
        "rev": "36735103002426b8", "thumb_exists": false, "bytes": 0, "modified":
        "Fri, 09 Aug 2013 00:17:26 +0000", "path": "/Dev/test", "is_dir": true, "icon":
        "folder", "root": "dropbox", "contents": [{"revision": 913527044, "rev": "36735104002426b8",
        "thumb_exists": false, "bytes": 0, "modified": "Fri, 09 Aug 2013 00:17:28
        +0000", "path": "/Dev/test/.git", "is_dir": true, "icon": "folder", "root":
        "dropbox", "size": "0 bytes"}, {"revision": 913527128, "rev": "36735158002426b8",
        "thumb_exists": false, "bytes": 18, "modified": "Fri, 09 Aug 2013 00:17:36
        +0000", "client_mtime": "Thu, 08 Aug 2013 20:44:11 +0000", "path": "/Dev/test/file1",
        "is_dir": false, "icon": "page_white", "root": "dropbox", "mime_type": "application/octet-stream",
        "size": "18 bytes"}, {"revision": 913527046, "rev": "36735106002426b8", "thumb_exists":
        false, "bytes": 0, "modified": "Fri, 09 Aug 2013 00:17:28 +0000", "path":
        "/Dev/test/folder1", "is_dir": true, "icon": "folder", "root": "dropbox",
        "size": "0 bytes"}, {"revision": 913527047, "rev": "36735107002426b8", "thumb_exists":
        false, "bytes": 0, "modified": "Fri, 09 Aug 2013 00:17:28 +0000", "path":
        "/Dev/test/folder2", "is_d[...]
- request:
    method: put
    uri: https://api-content.dropbox.com/1/chunked_upload?offset=0
    body:
      encoding: ASCII-8BIT
      string: This
    headers:
      Content-Type:
      - application/octet-stream
      Authorization:
      - Bearer <DROPBOX_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '475'
      X-Dropbox-Request-Id:
      - 39fc450b46a31ec835ae203877f7cd01
      X-Requestid:
      - 8e08a2a4d7faad95b1fd32a05afb8664
    body:
      encoding: UTF-8
      string: '{"expires": "Fri, 16 Aug 2013 19:07:57 +0000", "upload_id": "lgRg4wuGBWILQPoiWAT9ig",
        "offset": 4}'
  recorded_at: Thu, 15 Aug 2013 19:07:57 GMT
- request:
    method: put
    uri: https://api-content.dropbox.com/1/chunked_upload?offset=4&upload_id=lgRg4wuGBWILQPoiWAT9ig
    body:
      encoding: ASCII-8BIT
      string: ' is '
    headers:
      Content-Type:
      - application/octet-stream
      Authorization:
      - Bearer <DROPBOX_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '557'
      X-Dropbox-Request-Id:
      - 5c1dc820256d802008e4b26aadf1be74
      X-Requestid:
      - 6caea593556b33a7f756daedbc998586
    body:
      encoding: UTF-8
      string: '{"expires": "Fri, 16 Aug 2013 19:07:57 +0000", "upload_id": "lgRg4wuGBWILQPoiWAT9ig",
        "offset": 8}'
  recorded_at: Thu, 15 Aug 2013 19:07:59 GMT
[...]
- request:
    method: post
    uri: https://api-content.dropbox.com/1/commit_chunked_upload/auto/Dev/test/test_file?overwrite=true&parent_rev=&upload_id=lgRg4wuGBWILQPoiWAT9ig
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <DROPBOX_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '1202'
      X-Dropbox-Request-Id:
      - cab4ebe49d6b8e1881bb809007e18829
      X-Requestid:
      - f175ae769776030313b4af1b5e79f1da
    body:
      encoding: UTF-8
      string: '{"revision": 913531535, "rev": "3673628f002426b8", "thumb_exists":
        false, "bytes": 60, "modified": "Thu, 15 Aug 2013 19:08:16 +0000", "client_mtime":
        "Thu, 15 Aug 2013 19:08:16 +0000", "path": "/Dev/test/test_file", "is_dir":
        false, "icon": "page_white", "root": "dropbox", "mime_type": "application/octet-stream",
        "size": "60 bytes"}'
  recorded_at: Thu, 15 Aug 2013 19:08:16 GMT
[...]
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/delete?path=/Dev/test/test_file&root=auto
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <DROPBOX_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '133'
      X-Dropbox-Request-Id:
      - 09903388977d2764a90821cc2e3f5549
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - d165e9cccd5bafe165e2f546a4238bd3
    body:
      encoding: UTF-8
      string: '{"is_deleted": true, "revision": 913531536, "rev": "36736290002426b8",
        "thumb_exists": false, "bytes": 0, "modified": "Thu, 15 Aug 2013 19:08:17
        +0000", "client_mtime": "Wed, 31 Dec 1969 23:59:59 +0000", "path": "/Dev/test/test_file",
        "is_dir": false, "icon": "page_white", "root": "dropbox", "mime_type": "application/octet-stream",
        "size": "0 bytes"}'
  recorded_at: Thu, 15 Aug 2013 19:08:17 GMT
recorded_with: VCR 2.5.0
