---
http_interactions:
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/delete?path=/Dev/test/test_file&root=auto
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <DROPBOX_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error": "Path ''/dev/test/test_file'' not found"}'
  recorded_at: Fri, 09 Aug 2013 22:27:47 GMT
- request:
    method: get
    uri: https://api.dropbox.com/1/metadata/auto/Dev/test?file_limit=25000&include_deleted=false&list=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <DROPBOX_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '41'
      X-Dropbox-Request-Id:
      - a647a2a5f64603e3932e668082e85a8b
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - ab40dd522d15fab775c855e9affe3a3b
    body:
      encoding: UTF-8
      string: '{"hash": "89d2d8d15943787964a340cd8a044e02", "revision": 913527043,
        "rev": "36735103002426b8", "thumb_exists": false, "bytes": 0, "modified":
        "Fri, 09 Aug 2013 00:17:26 +0000", "path": "/Dev/test", "is_dir": true, "icon":
        "folder", "root": "dropbox", "contents": [{"revision": 913527044, "rev": "36735104002426b8",
        "thumb_exists": false, "bytes": 0, "modified": "Fri, 09 Aug 2013 00:17:28
        +0000", "path": "/Dev/test/.git", "is_dir": true, "icon": "folder", "root":
        "dropbox", "size": "0 bytes"}, {"revision": 913527128, "rev": "36735158002426b8",
        "thumb_exists": false, "bytes": 18, "modified": "Fri, 09 Aug 2013 00:17:36
        +0000", "client_mtime": "Thu, 08 Aug 2013 20:44:11 +0000", "path": "/Dev/test/file1",
        "is_dir": false, "icon": "page_white", "root": "dropbox", "mime_type": "application/octet-stream",
        "size": "18 bytes"}, {"revision": 913527046, "rev": "36735106002426b8", "thumb_exists":
        false, "bytes": 0, "modified": "Fri, 09 Aug 2013 00:17:28 +0000", "path":
        "/Dev/test/folder1", "is_dir": true, "icon": "folder", "root": "dropbox",
        "size": "0 bytes"}, {"revision": 913527047, "rev": "36735107002426b8", "thumb_exists":
        false, "bytes": 0, "modified": "Fri, 09 Aug 2013 00:17:28 +0000", "path":
        "/Dev/test/folder2", "is_d[...]
- request:
    method: put
    uri: https://api-content.dropbox.com/1/files_put/auto/Dev/test/test_file?overwrite=true
    body:
      encoding: UTF-8
      string: This is a file used for RSpec tests involving Worochi::Item.
    headers:
      Content-Type:
      - application/octet-stream
      Authorization:
      - Bearer <DROPBOX_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '459'
      X-Dropbox-Request-Id:
      - c87825da15d67b1d139a52ffce45fc62
      X-Requestid:
      - 9b0f6ff4a2d3f7e8944603d104f8afa8
    body:
      encoding: UTF-8
      string: '{"revision": 913528118, "rev": "36735536002426b8", "thumb_exists":
        false, "bytes": 60, "modified": "Fri, 09 Aug 2013 22:27:48 +0000", "client_mtime":
        "Fri, 09 Aug 2013 22:27:48 +0000", "path": "/Dev/test/test_file", "is_dir":
        false, "icon": "page_white", "root": "dropbox", "mime_type": "application/octet-stream",
        "size": "60 bytes"}'
  recorded_at: Fri, 09 Aug 2013 22:27:49 GMT
[...]
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/delete?path=/Dev/test/test_file&root=auto
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <DROPBOX_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '187'
      X-Dropbox-Request-Id:
      - 6dadf75a7d47b5407ee0d140a572a044
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - 890ae3d1ecaa745b3a1c805e8434d15a
    body:
      encoding: UTF-8
      string: '{"is_deleted": true, "revision": 913528119, "rev": "36735537002426b8",
        "thumb_exists": false, "bytes": 0, "modified": "Fri, 09 Aug 2013 22:27:49
        +0000", "client_mtime": "Wed, 31 Dec 1969 23:59:59 +0000", "path": "/Dev/test/test_file",
        "is_dir": false, "icon": "page_white", "root": "dropbox", "mime_type": "application/octet-stream",
        "size": "0 bytes"}'
  recorded_at: Fri, 09 Aug 2013 22:27:50 GMT
recorded_with: VCR 2.5.0
